html {
  background: #FCFCFC;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.login-register {
  margin: 0 5% 0 5%;
}

#login-register {
  /* Log In | Register */
  position: absolute;
  width: 244.39px;
  height: 35px;
  right: 2%;
  top: 25px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: right;
  color: #000000;
}

h4 {
  margin-top: 1%;
  padding-left: 10%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.81em;
  line-height: 1.125em;
  align-items: center;
  text-align: left;
  color: #000000;
}

#beginners-guide
{
  margin: auto;
  width: 783px;
  height: 255px;
  background: #D9D9D9;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #000000;
}

#selector-button
{
  width: 90%;
  height: 411px;
  background: #83D7FB;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 166.18%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  color: #FFFFFF;
  margin: 2%;
  margin-bottom: 5%;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandText {
  font-family: 'Baloo Chettan 2', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  padding: 50% 0 50% 0;
  text-align: center;
  display: block;
  color: #000000;
  }

.brands{
  margin: 1%;
  width: 230px;
  height: auto;
  background: #E7EEF1;
  border-radius: 30px 30px 30px 30px;
  align-items: center;
}

#brands-buttons{
  display: flex;
  margin-bottom: 2%;
  justify-content: center;
  align-items: stretch;
}

.lm{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 65px;
  display: block;
  text-align: center;
  color: #000000;
  width: 229px;
  height: 64px;
  background: #FEFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 30px 30px;
}

.nav-title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.title{
  /* Getting Started */
  width: 92.25vw;
  height: auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 53px;
  line-height: 72px;
  display: block;
  align-items: center;
  text-align: center;
  color: #210D0D;
  background: #30BCF9;
  margin-bottom: 2%;
}

.sub-title{
  /* Overview */
  width: 816px;
  height: 35px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 39px;
  color: rgba(0, 0, 0, 0.95);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  padding-left: 10%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.81em;
  line-height: 1.125em;
  align-items: center;
  text-align: left;
  color: #000000;
}

.body-parent{
  display: block;
}

#sidenav{
  width: 15%;
  margin: 1% 2% 1% 2%;
  border-style: none;
  border-width: 2px;
  border-color: #000;
  border-radius: 2%;
  float: left;
  top: 35%;
  left: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.info{
  margin: 1% 10% 1% 10%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: left;
  color: #000000;
}

.skin101
{
  border: #000;
  border-style: solid;
  float: left;
  margin: auto 10px 100px auto;
  width: 10%;
}

#stickynotes{
  margin: auto;
  width: 90%;
  padding: 10px;
}


.p{
  padding: 0px 100px 100px;
}

.top{
  display: flex;
  justify-content: space-evenly;
}

header {
  background: #FCFCFC;
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

header h1 {
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 82px;
    color: #000000;
    padding-left: 2vw;
}

header h1 a {
  text-decoration: none;
  color: #000000;
}

header .mainCTA {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #FCFCFC;
  border: 1px solid #000000;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #1E0808;
  text-decoration: none;
  padding: 5px 35px;
}

header .mainCTA:hover {

    color: #1a7d24;
    border-color: #1a7d24;
}

nav {
    padding-top: 86px;
    width: 100%;
    text-align: center;
}

nav ul {
    background: #FCFCFC;
    border: 1px solid #EBE4E4;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 44px;
}

.main {

  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.85em;
    line-height: 1.125em;
    display: block;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 1.25em;
}

.middleCTA {
  background: #FCFCFC;
  border: 1px solid #000000;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #1E0808;
  text-decoration: none;
  padding: 5px 35px;
  text-align: center;
  margin: 0 auto;
}

.middleCTA:hover {
  
    color: #1a7d24;
    border-color: #1a7d24;

}

.featured {
  padding: 30px 50px;
}

.featured a {
  text-decoration: none;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 46px;
text-align: center;
color: #000000;
}

.featured p {
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #000000;
}

.featured img {
  width: 100%;
  padding: 50px 0px;
}

body{
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer .tagline {
  width: 160px;
   font-size: 18px;
   font-weight: 900;
   color: #783a0f;
}

footer .bttl {
  margin-left: -16px;
  padding: 5px;
}

footer ul h5 {
  padding-bottom: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
}

footer a {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #000000;
    text-decoration: none;
}