<div id="brands-buttons">
    <div class="brands">
        <a href="">
            <p class="brandText">Knowing your skin</p>
            <p class="lm">Learn more</p>
        </a>
    </div>
    <div class="brands">
        <a href="">
            <p class="brandText">Routines/
            Tutorials</p>
            <p class="lm">Learn more</p>
        </a>
    </div>
    <div class="brands">
        <br>
        <a href="">
            <p class="brandText">Brands</p><br><br>
            <p class="lm">Learn more</p>
        </a>
    </div>
</div>




