<div id="brands-buttons">
    <div class="brands">
        <a href="../getting-started/overview">
            <p class="brandText">Knowing your skin</p>
            <p class="lm">Learn more</p>
        </a>
    </div>
    <div class="brands">
        <a href="../getting-started/routines">
            <p class="brandText">Routines/
            Tutorials</p>
            <p class="lm">Learn more</p>
        </a>
    </div>
    <div class="brands">
        <br>
        <a href="../getting-started/Brands">
            <p class="brandText">Brands</p><br><br>
            <p class="lm">Learn more</p>
        </a>
    </div>
</div>