<footer>

<div class="col">

<img class="bttl" width="50px" src="../assets/bottle.png" alt="bottle">
<h5 class="tagline">Get the right skincare for you.</h5>	

</div>

<div class="col">
<ul>
<h5>Skincare Selector</h5>
<li><a href="../getting-started/overview">Get started</a></li>	
<li><a href="">Recommendations</a></li>	
<li><a href="">Browse Products</a></li>
<li><a href="../blog">Blog</a></li>	
</ul>	
</div>

<!-- 
<div class="col">
<ul>
<h5>Our Community</h5>
<li><a href="">Downloads</a></li>	
<li><a href="">Forums</a></li>	
<li><a href="">Trends</a></li>	
</ul>	
</div> -->

<div class="col">
<ul>
<h5>Colophon</h5>
<!-- <li><a href="">About</a></li>	
<li><a href="">Contact</a></li>	
<li><a href="">Terms</a></li>
<li><a href="">User Code of Conduct	</a></li>
<li><a href="">Industry Code of Conduct</a></li>
<li><a href="">Privacy</a></li>	
<li><a href="">Do No Sell my Personal information</a></li>	
<li><a href="">Affiliate Disclosure</a></li>	 -->
</ul>	
</div>


</footer>