<footer>
    <div class="col">
        <div class="flex">
            <img class="bttl" width="32px" src="../assets/icon.png" alt="bottle">
            <h5 class="tagline">Get the right skincare for you.</h5>	
        </div>
    </div>

    <div class="col">
    <ul>
    <h5>Skincare Selector</h5>
    <li><a href="../getting-started/overview">Get started</a></li>	
    <li><a href="">Recommendations</a></li>	
    <li><a href="">Browse Products</a></li>
    <li><a href="../blog">Blog</a></li>	
    </ul>	
    </div>

    <div class="col">
        <ul>
            <h5>Colophon</h5>
            <li><a href="">About</a></li>	
            <li><a href="">Contact</a></li>	
            <li><a href="">Terms</a></li>
        </ul>	
    </div>

</footer>

<div class="bottom">
    <div class="socials">
        <a href="https://www.youtube.com/c/Invisiblebuilding" class="social-link"><img src="../assets/youtube.svg" alt="YouTube Logo" height="32px"></a>
        <a href="https://www.instagram.com/invisiblebuilding" class="social-link"><img src="../assets/instagram.svg" alt="YouTube Logo" height="32px"></a>
    </div>
    <h5>Made by Invisible Building</h5>
</div>
