<ul id="sidenav">
    <li class="nav-title">Getting Started</li>
    {% for member in site.data.nav-section1 %}
        <li>
            <a href="{{
                member.navLink }}">
                {{ member.navName}}
            </a>
        </li>
    {% endfor %}
    <br>
    <li class="nav-title">What is your skin type</li>
    {% for member in site.data.nav-section2 %}
        <li>
            <a href="../{{
                member.navLink }}">
                {{ member.navName}}
            </a>
        </li>
    {% endfor %}
    <br>
    <li class="nav-title">Understanding products</li>
    {% for member in site.data.nav-section3 %}
    <li>
        <a href="../getting-started/{{
            member.navLink }}">
            {{ member.navName}}
        </a>
    </li>
    {% endfor %}
    <br>
    <li class="nav-title">Skincare concerns</li>
    {% for member in site.data.nav-section4 %}
    <li>
        <a href="../getting-started/{{
            member.navLink }}">
            {{ member.navName}}
        </a>
    </li>
    {% endfor %}
    <br>
    <li class="nav-title">Perscriptive skincare</li>
    {% for member in site.data.nav-section5 %}
    <li>
        <a href="../getting-started/{{
            member.navName }}">
            {{ member.navName}}
        </a>
    </li>
    {% endfor %}
</ul>