<ul id="sidenav">
    <li class="nav-title">Getting Started</li>
    {% for member in site.data.nav-section1 %}
        <li>
            <a href="../getting-started/{{
                member.navLink }}">
                {{ member.navName}}
            </a>
        </li>
    {% endfor %}
    <br>
    <li class="nav-title">What's Your Skin Type?</li>
    {% for member in site.data.nav-section2 %}
        <li>
            <a href="../whats-your-skin-type/{{
                member.navLink }}">
                {{ member.navName}}
            </a>
        </li>
    {% endfor %}
    <br>
    <li class="nav-title">Understanding Products</li>
    {% for member in site.data.nav-section3 %}
    <li>
        <a href="../understanding-products/{{
            member.navLink }}">
            {{ member.navName}}
        </a>
    </li>
    {% endfor %}
    <br>
    <li class="nav-title">Skin Concern</li>
    {% for member in site.data.nav-section4 %}
    <li>
        <a href="../skin-concern/{{
            member.navLink }}">
            {{ member.navName}}
        </a>
    </li>
    {% endfor %}
    <br>
    <li class="nav-title">Perscriptive Skincare</li>
    {% for member in site.data.nav-section5 %}
    <li>
        <a href="../perscriptive-skincare/{{
            member.navLink }}">
            {{ member.navName}}
        </a>
    </li>
    {% endfor %}
</ul>