<div id="stickynotes">
    <a href="acne"><img src="assets/acne.jpg" alt="acne - @usamasyed" class="skin101"></a>
    <a href="pigmentation"><img src="assets/pigmentation.jpg" alt="pigmentation - @usamasyed" class="skin101"></a>
    <a href="scarring"><img src="assets/scarring.jpg" alt="scarring - @usamasyed" class="skin101"></a>
    <a href="flakyscalp"><img src="assets/flakyness.jpg" alt="flakyness - @usamasyed" class="skin101"></a>
    <a href="redness"><img src="assets/redness.jpg" alt="redness - @usamasyed" class="skin101"></a>
    <a href="dryskin"><img src="assets/dryskin.jpg" alt="dry skin - @usamasyed" class="skin101"></a>
    <a href="sunscreen"><img src="assets/sunscreen.jpg" alt="sunscreen - @usamasyed" class="skin101"></a>
    <a href="cleansing"><img src="assets/cleansing.jpg" alt="cleansing - @usamasyed" class="skin101"></a>
    <a href="cosmetics"><img src="assets/cosmetics.jpg" alt="cosmetics - @usamasyed" class="skin101"></a>
</div>