<div id="stickynotes">
    <img src="assets/acne.jpg" alt="acne - @usamasyed" class="skin101">
    <img src="assets/pigmentation.jpg" alt="pigmentation - @usamasyed" class="skin101">
    <img src="assets/scarring.jpg" alt="scarring - @usamasyed" class="skin101">
    <img src="assets/flakyness.jpg" alt="flakyness - @usamasyed" class="skin101">
    <img src="assets/redness.jpg" alt="redness - @usamasyed" class="skin101">
    <img src="assets/dryskin.jpg" alt="dry skin - @usamasyed" class="skin101">
    <img src="assets/sunscreen.jpg" alt="sunscreen - @usamasyed" class="skin101">
    <img src="assets/cleansing.jpg" alt="cleansing - @usamasyed" class="skin101">
    <img src="assets/cosmetics.jpg" alt="cosmetics - @usamasyed" class="skin101">
</div>