<div class ="top">
    <div class="btnText">    
        <a href="cleanserselection">
            <button class="selection">+</button>
            <p class="text">Cleanser</p>
        </a>
    </div>
    <div class="btnText"> 
        <a href="treatmentselection">   
            <button class="selection">+</button>
            <p class="text">Treatment</p>
        </a>
    </div>
    <div class="btnText">
        <a href="moisturiserselection">
            <button class="selection">+</button>
            <p class="text">Moisturiser</p>
        </a>
    </div>
    <div class="btnText">   
        <a href="sunscreenselection">
            <button class="selection">+</button>
            <p class="text">Sunscreen</p>
        </a> 
    </div>
</div>