<div class ="top">
    <div class="btnText">    
        <button class="selection">+</button>
        <p class="text">Cleanser</p>
    </div>
    <div class="btnText">    
        <button class="selection">+</button>
        <p class="text">Treatment</p>
    </div>
    <div class="btnText">    
        <button class="selection">+</button>
        <p class="text">Moisturiser</p>
    </div>
    <div class="btnText">    
        <button class="selection">+</button>
        <p class="text">Sunscreen</p>
    </div>
</div>