<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include header.html %}

    <h2>Combination Skin Type</h2>
    {% include top.html %}
    <p class="p">If you have a normal skin type then you can use light, water-based serums and gells all over, use a rich cream on your cheeks. You can use a BHA on your nose and forehead and an AHA on your chin and jawline.</p>
    <br>
    {% include skinconcern.html %}
    {% include breadcrumbs.html %}
    {% include footer.html %}
</body>


</html>
