<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  
<body>

{% include header.html %}


<div class="main">

<h2>Everyone wants to look their best, but it can be tough to know where to start when it comes to skincare.</h2>
<a class="middleCTA" href="getting-started/overview">Get Started</a>
<br>
<br>
<br>
<p>Skincare Selector helps you discover what products are right for you, teaches you about the best  routines, and educates you about the latest trends. Whether you're just starting to learn about skincare or you've been using products for years, we've got everything you need to improve your routine and get better-looking skin. </p>
<br>
<br>
<img src="https://raw.githubusercontent.com/ibConnor/SkincareSelector/main/assets/image-slider.png">

</div>

{{ content }}

{% include footer.html %}


</body>


</html>