<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  
<body>

{% include header.html %}


<div class="main">
    <h2>Getting Started</h2>
    <h3>Overview</h3>
</div>
    <ul id="sidenav">
    <li class="title">Getting Started</li>
    {% for member in site.data.nav %}
        <li>
            <a href="https://github.com/{{
                member.navName }}">
                {{ member.navName}}
            </a>
        </li>
    {% endfor %}
    </ul>
    <p class="info">Skincare Selector helps you discover what products are right for you, teaches you about the best  routines, and educates you about the latest trends. Whether you're just starting to learn about skincare or you've been using products for years, we've got everything you need to improve your routine and get better-looking skin.</p>



    {% include footer.html %}
</body>


</html>
