<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include header.html %}

    <h2>Normal Skin Type</h2>
    <div class ="top">
        <div class="btnText">    
            <button class="selection">+</button>
            <p class="text">Cleanser</p>
        </div>
        <div class="btnText">    
            <button class="selection">+</button>
            <p class="text">Treatment</p>
        </div>
        <div class="btnText">    
            <button class="selection">+</button>
            <p class="text">Moisturiser</p>
        </div>
        <div class="btnText">    
            <button class="selection">+</button>
            <p class="text">Sunscreen</p>
        </div>
    </div>
    <p>If you have a normal skin type then any basic skincare routine that targets any concerns that you may have would be best.</p>
    <br>
    {% include breadcrumbs.html %}
    {% include footer.html %}
</body>


</html>
