<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  
<body>

{% include header.html %}


<div class="main">
    <h2 class="title">Getting Started</h2>
</div>

<div class="body-parent">
    {% include sidenav.html %}
    <div class="body">
        <h3 class="sub-title">Overview</h3>
    
        <p class="info">Skincare Selector helps you discover what products are right for you, teaches you about the best  routines, and educates you about the latest trends. Whether you're just starting to learn about skincare or you've been using products for years, we've got everything you need to improve your routine and get better-looking skin.</p>
        {% include brands.html %}
        <div class="flex"><button id="beginners-guide">Beginner's Guide to Skincare</button></div>
    </div>
</div>

<div class="flex"><button id="selector-button">Start using the skincare selector</button></div>
    {% include footer.html %}
</body>


</html>
